<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" [(ngModel)]="email" name="email" required>
  </div>
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" [(ngModel)]="password" name="password" required>
  </div>
  <div *ngIf="serverResponse" class="mt-4 text-center">
    {{ serverResponse }}
  </div>
  <div class="flex items-center justify-between">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
      Login
    </button>
  </div>
  <a [routerLink]="['/register']" class="text-blue-500 hover:text-blue-700 underline">register</a>
</form>
