<div class="p-4 bg-white shadow-md rounded-md">
  <div class="flex flex-row justify-between">
    <h1 class="text-3xl mb-4">Discussions</h1>
    <button class="text-red-600" (click)="logout()">Logout</button>
  </div>


  <table class="w-full text-left table-auto border-collapse mb-2">
    <thead>
    <tr>
      <th class="px-4 py-2">Nom du thread</th>
      <th class="px-4 py-2">Date de création</th>
      <th class="px-4 py-2">Nombre de posts</th>
      <th class="px-4 py-2">Créateur</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let thread of displayData" class="text-gray-800">
      <td class="border px-4 py-2">
        <a [routerLink]="['/thread', thread.id]" class="text-blue-500 hover:text-blue-700">{{ thread.title }}</a>
      </td>
      <td class="border px-4 py-2">{{ thread.created | date:'shortDate' }}</td>
      <td class="border px-4 py-2">{{ thread.posts_count }}</td>
      <td class="border px-4 py-2">
        <div class="flex items-center">
          <img [src]="thread.creator.avatar" alt="Profile Picture" class="w-10 h-10 rounded-full mr-2" />
          <div>{{ thread.creator.username }}</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="flex items-center justify-between">
    <button
      [disabled]="page === 1"
      (click)="previousPage()"
      [class]="page === 1 ? 'px-4 py-2 text-gray-500 bg-gray-300 cursor-not-allowed rounded-md' : 'px-4 py-2 text-white bg-blue-500 hover:bg-blue-700 cursor-pointer rounded-md'"
    >
      Previous
    </button>
    <div> Page {{ page }} of {{ Math.ceil(collectionSize / pageSize) }}</div>
    <button
      [disabled]="page >= Math.ceil(collectionSize/ pageSize)"
      (click)="nextPage()"
      [class]="page >= Math.ceil(collectionSize / pageSize) ? 'px-4 py-2 text-gray-500 bg-gray-300 cursor-not-allowed rounded-md' : 'px-4 py-2 text-white bg-blue-500 hover:bg-blue-700 cursor-pointer rounded-md'"
    >
      Next
    </button>
  </div>

  <a routerLink="/create-thread" class="inline-block mt-4 py-2 px-4 text-white bg-blue-500 hover:bg-blue-700 rounded-md">
    Créer une nouvelle discussion
  </a>
</div>
